<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    
	<add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\lol-b\Source\Repos\StarkillerBB\Blog3.0\Blog3.0\BlogDB.mdf;Integrated Security=True" />
	<!-- <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\benj007d\Source\Repos\StarkillerBB\Blog3.0\Blog3.0\BlogDB.mdf;Integrated Security=True" />-->
  </connectionStrings>
</configuration>